<%- include('partials/header'); %>
	<h1>Compose</h1>
	<form action="/<%=id%>/compose" method="post">
		<div class="form-group">
			<label for="postTitle">Title</label>
			<input class="form-control" type="text" id="postContent" name="postTitle">
		</div>
		<div class="form-group">
			<label for="postBody">Post</label>
			<textarea class="form-control" id="postBody" name="postBody" rows="5" cols="30"></textarea>
		</div><br>
		<div class="form-group">
			<button type="submit" name="button" class="btn btn-dark">Publish</button>
		</div>
	</form>
<%- include('partials/footer'); %>