<%- include('partials/header'); %>
	<div class="header">
        <h1>Publish your passions, Your Way!</h1>
        <p>Create your blog page and keep posting your day-to-day activities</p>
        <a class="btn btn-dark" href="/register">Sign Up</a>
    </div>
<%- include('partials/footer'); %>