<%- include('partials/header'); %>
<a class="btn btn-dark" href="/register">Compose</a>
<div class="userFirstPageBtns">
    <a class="btn btn-dark" href="/<%=id%>/compose">Compose</a>
    <a class="btn btn-dark" href="/<%=id%>/delete">Delete</a>
</div>
<%- include('partials/footer'); %>